<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Order №' + ${selectedOrder.id}"></title>
    <style>
        body{font-family: "DejaVu Sans", Arial, sans-serif }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
</head>
<body>

<div class="wrapper">
   <main>
        <h1 style="text-align:center" th:text="'Номер квитка: ' + ${selectedOrder.id}">
        </h1>
        <div class="row mainRow">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">ID</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.id}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Дата оформлення</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.created}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Номер потяга</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.trainNumber}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Місто відправлення/прибуття</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${startCityName} + '/' + ${selectedOrder.route.arrivalCityName}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Станція відправлення</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.startStationName}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Станція прибуття</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.arrivalStationName}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Час відправлення</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.departureTime}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Час прибуття</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.arrivalTime}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Час в дорозі</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.route.travelTime}"></p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Проміжні станції</h4>
                            </div>
                            <div class="col-sm-8">
                                <ul th:each="station : ${selectedOrder.route.intermediateStations}">
                                    <li th:text = "${station}"></li>
                                </ul>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Кількість квитків</h4>
                            </div>
                            <div class="col-sm-8">
                                <ul th:each="ticket : ${selectedOrder.numberOfPurchasedTicketsTypesSet}">
                                    <li th:text = "${ticket.ticketType.ticketTypeName}+ ': '+ ${ticket.countOfPurchasedTickets} + '(' + ${ticket.place.getPlace()}+ ')'"></li>
                                </ul>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="mb-0">Ціна</h4>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedOrder.orderPrise}+ ' ₴'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

</script>

</body>
</html>