.pass_show {
    position: relative;
}

.pass_show .ptxt {
    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: 0.3s ease all;
}

.pass_show .ptxt:hover {
    color: #333333;
}

.change-pass .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.change-pass .select-arrow {
    top: 13px;
}

.error{
    box-shadow: 0 0 15px red;
}

.errorMassage {
    color: red;
    display: none;
}