<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

<div th:include="header::head"></div>

<div class="row mainRow">
    <form method="post" th:action="@{/admin/route/add}">
        <div class="col-lg-6" style="margin: 20px">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.train.number}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="trainNumber"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.startStation}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="startStation" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.arrivalStation}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="arrivalStation" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.startDate}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="date" name="dateOfDispatch" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.arrivalDate}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="date" name="dateOfArrival" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.startTime}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="time" name="timeOfDispatch" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.arrivalTime}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="time" name="timeOfArrival" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.travelTime}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="time" name="travelTime" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.numberOfCompartmentFreeSeats}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" min="0" name="numberOfCompartmentFreeSeats" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.priseOfCompartmentTicket}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" min="0" name="numberOfSuiteSeats" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.numberOfSuiteFreeSeats}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" min="0" name="numberOfSuiteFreeSeats" class="form-control"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0">[[#{label.route.priseOfSuiteTicket}]]</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" min="0" name="priseOfSuiteTicket" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success">[[#{button.addRoute}]]</button>
    </form>
</div>

<div th:include="footer::foot"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">
</script>


</body>
</html>