<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link th:href="@{/CSS/roundButton.css}" rel="stylesheet">
    <link th:href="@{/CSS/footer.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div th:include="header::head"></div>

    <main>
        <table class="table table-bordered table-striped text-center" style="margin: 20px">
            <thead class="table-info">
            <tr>
                <th scope="col">
                    <a th:href = "@{'/user/myOrders/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=id'}"></a>[[#{user.order.label.number}]]
                </th>
                <th scope="col">
                    <a th:href = "@{'/user/myOrders/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=train.trainNumber'}"></a>[[#{label.train.number}]]
                </th>
                <th scope="col">[[#{label.route.from.to}]]</th>
                <th scope="col">
                    <a th:href = "@{'/user/myOrders/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=orderPrise'}"></a>[[#{user.order.label.prise}]]
                </th>
                <th scope="col">[[#{user.order.label.details}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${ordersList}">
                <td th:utext="${order.id}"></td>
                <td th:utext="${order.train.trainNumber}"></td>
                <td th:utext="${order.train.startStation.city.cityName} + '/' + ${order.train.arrivalStation.city.cityName}"></td>
                <td th:utext="${order.orderPrise}"></td>
                <td>
                    <form th:action="'/user/myOrders/' + ${order.id}" method="get">
                        <button type="submit" class="btn btn-outline-info">[[#{button.information}]]</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <th:block th:if="${pageNumber}>1">
                    <li class="page-item">
                        <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">First</a>
                    </li>
                </th:block>
                <th:block th:unless="${pageNumber}>1">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
                    </li>
                </th:block>
                <!-- Previous -->
                <th:block th:if="${pageNumber}>1">
                    <li class="page-item">
                        <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${pageNumber - 1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">Previous</a>
                    </li>
                </th:block>
                <th:block th:unless="${pageNumber}>1">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                </th:block>
                <!-- f -->
                <th:block th:if="${pageable.getTotalPages()} <= 10">
                    <th:block th:each="i : ${#numbers.sequence(1,pageable.getTotalPages())}">
                        <th:block th:if="${i} == ${pageNumber}">
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">[[${i}]]</span>
                            </li>
                        </th:block>
                        <th:block th:unless="${i} == ${pageNumber}">
                            <li class="page-item">
                                <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                            </li>
                        </th:block>
                    </th:block>
                </th:block>

                <th:block th:if="${pageable.getTotalPages()} >  10">
                    <th:block th:if="${pageNumber <= 5 || pageNumber > pageable.getTotalPages()-4}">
                        <li th:each="i : ${#numbers.sequence(1,5)}" th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                            <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                        </li>

                        <a class="page-link" th:href = "@{'/user/myOrders/page/' + '6'}">...</a>

                        <li th:each="i : ${#numbers.sequence(pageable.getTotalPages()-4,pageable.getTotalPages())}" th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                            <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                        </li>
                    </th:block>

                    <th:block th:if="${pageNumber > 5 && pageNumber < pageable.getTotalPages()-4}">
                        <li th:each="i : ${#numbers.sequence(1,5)}" th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                            <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${pageNumber - 5}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">...</a>
                        </li>
                    </th:block>

                </th:block>

                <!-- Next -->
                <th:block th:if="${pageNumber}<${pageable.getTotalPages()}">
                    <li class="page-item">
                        <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${pageNumber + 1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">Next</a>
                    </li>
                </th:block>
                <th:block th:unless="${pageNumber}<${pageable.getTotalPages()}">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                </th:block>

                <th:block th:if="${pageNumber}<${pageable.getTotalPages()}">
                    <li class="page-item">
                        <a class="page-link" th:href = "@{'/user/myOrders/page/' + ${pageable.getTotalPages()}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">Last</a>
                    </li>
                </th:block>
                <th:block th:unless="${pageNumber}<${pageable.getTotalPages()}">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </main>

    <div th:include="footer::foot"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

</script>

</body>
</html>