<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="/CSS/carouselEdits.css" rel="stylesheet">
    <link th:href="@{/CSS/footer.css}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div th:include="header::head"></div>

    <main>
        <div class="row mainRow">
            <div class="col-lg-6" style="padding: 20px">
                <div class="card mb-4">
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.train.number}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedRoute.trainNumber}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.from.to}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedRoute.startCityName} + '/' + ${selectedRoute.arrivalCityName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.startStation}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedRoute.startStationName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.arrivalStation}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedRoute.arrivalStationName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.startTime}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${#temporals.format(selectedRoute.departureTime, 'dd-MM-yyyy HH:mm')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.arrivalTime}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${#temporals.format(selectedRoute.arrivalTime, 'dd-MM-yyyy HH:mm')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.travelTime}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:utext = "${selectedRoute.travelTime}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">Проміжні станції</p>
                            </div>
                            <div class="col-sm-8">
                                <ul th:each="station : ${selectedRoute.intermediateStations}">
                                    <li th:text = "${station}"></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.numberOfCompartmentFreeSeats}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:text = "${selectedRoute.numberOfCompartmentFreeSeats}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.priseOfCompartmentTicket}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:text = "${selectedRoute.priseOfCompartmentTicket} + ' ₴'"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.numberOfSuiteFreeSeats}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:text = "${selectedRoute.numberOfSuiteFreeSeats}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="mb-0">[[#{label.route.priseOfSuiteTicket}]]</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0" th:text = "${selectedRoute.priseOfSuiteTicket} + ' ₴'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <form th:action="@{'/order/' + ${selectedRoute.id}}" method="post">
                        <label>Тип квитка: </label>
                        <div class="container">
                            <div class="row justify-content-start">
                                <th:block th:each="ticketType:${ticketTypeList}">
                                <th:block th:if="${ticketType.ticketTypeName}=='Adult'">
                                    <input type="radio" name="ticketType" th:value="${ticketType.ticketTypeName}" checked th:text="${ticketType.ticketTypeName}"/>
                                </th:block>
                                <th:block th:unless="${ticketType.ticketTypeName} =='Adult'">
                                    <input type ="radio" name="ticketType" th:value="${ticketType.ticketTypeName}" th:text="${ticketType.ticketTypeName}"/>
                                </th:block>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <label for="countOfTickets">Місце:</label>
                            <input type ="radio" name="place" th:value="COMPARTMENT" checked th:text="#{label.compartment}"/>
                            <input type ="radio" name="place" th:value="SUITE" th:text="#{label.suite}"/>
                        </div>

                        <div class="input-group" style="width: 150px">
                            <label for="countOfTickets">[[#{button.countOfTicket}]]</label>
                            <button type="button" id="minusCount" class="input-group-text">-</button>
                            <input type="number" class="form-control" id="countOfTickets" name="ticketsCount" min="1"/>
                            <button type="button" id="plusCount" class="input-group-text" >+</button>
                        </div>

                        <div class="row">
                            <label>Сума: </label>
                            <p id="prise">0 ₴</p>
                            <label>Загальна сумма: </label>
                            <p id="allPrise">0 ₴</p>
                        </div>
                        <th:block th:if="${insufficientFunds}">
                            <p th:text="${insufficientFunds}" style="color: red"></p>
                        </th:block>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="submit" name="add" value="add" id="addButton" class="btn btn-outline-primary">[[#{button.add}]]</button>
                            <button type="submit" name="by" value="by" id="byButton" class="btn btn-outline-success">[[#{button.by}]]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div th:include="footer::foot"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--th:src="@{/JS/calcPriseOfTickets.js}"-->



<script th:inline="javascript">
    let compartmentFreeSeats = /*[[${selectedRoute.numberOfCompartmentFreeSeats}]]*/ {};
    let compartmentSeatsPrise = /*[[${selectedRoute.priseOfCompartmentTicket}]]*/ {};
    let suiteFreeSeats = /*[[${selectedRoute.numberOfSuiteFreeSeats}]]*/ {};
    let suiteSeatsPrise = /*[[${selectedRoute.priseOfSuiteTicket}]]*/ {};
    let ticketTypesList = /*[[${ticketTypeList}]]*/ {};
    let allPriceValue = /*[[${session.allPrice}]]*/ {};
    let balance = /*[[${session.balance}]]*/ {};

    $('#plusCount').click(plus);
    $('#minusCount').click(minus);

    let count = document.querySelector('#countOfTickets');
    let res = document.querySelector("#prise");
    let showAllPrise = document.querySelector("#allPrise");
    let addButton = document.querySelector("#addButton");
    let byButton = document.querySelector("#byButton");
    let place = document.getElementsByName("place");
    let ticketType = document.getElementsByName("ticketType");

    let ticketPrice = 0;
    let numberOfFreeSeats;
    let ticketPriceFactor;
    let priceOfAddedTickets = 0;
    let allPrice = 0;


    if(allPriceValue !== null){
        priceOfAddedTickets = Number(allPriceValue);
    }

    count.value = 1;
    checkPlace();

    byButton.onclick = checkBalance;
    addButton.onclick = checkBalance;

    function checkBalance(evt){
        console.log(Number(balance));
        if(Number(balance)<allPrice){
            evt.preventDefault();
            alert("Недостатньо кошів на рахунку!");
        }
    }

    addButton.onclick = () =>{
        priceOfAddedTickets += Number(count.value) * ticketPrice * ticketPriceFactor;
    }

    for (let i = 0; i < place.length; i++) {
        place[i].onclick = checkPlace;
        res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
    }

    for (let i = 0; i < ticketType.length; i++) {
        ticketType[i].onclick = checkTicketType;
        res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
    }

    count.oninput = () =>{
        if(Number(numberOfFreeSeats)<count.value){
            count.value = numberOfFreeSeats;
        }
        res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
        allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
    };

    function plus() {
        if(Number(count.value) < numberOfFreeSeats){
            count.value = (Number(count.value)+1);
            console.log(Number(count.value)*ticketPrice);
            res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
            showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
            allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
        }
    }

    function minus() {
        if(count.value > 1){
            count.value = (Number(count.value)-1);
            res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
            showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
            allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
        }
    }

    function checkPlace(){
        for (var i = 0, length = place.length; i < length; i++) {
            checkTicketType();
            if (place[i].checked) {
                if(place[i].value === "COMPARTMENT"){
                    ticketPrice = Number(compartmentSeatsPrise);
                    numberOfFreeSeats = Number(compartmentFreeSeats);
                }else {
                    ticketPrice = Number(suiteSeatsPrise);
                    numberOfFreeSeats = Number(suiteFreeSeats);
                }
                res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
                showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
                allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
                break;
            }
        }
    }

    function checkTicketType() {
        for (var i = 0, length = ticketType.length; i < length; i++) {
            if (ticketType[i].checked) {
                for (const ticket of ticketTypesList) {
                    if(String(ticket.ticketTypeName)===ticketType[i].value){
                        ticketPriceFactor = Number(ticket.ticketPriceFactor);
                    }
                }
                res.textContent = Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
                showAllPrise.textContent = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor+ " ₴";
                allPrice = priceOfAddedTickets + Number(count.value) * ticketPrice * ticketPriceFactor;
                break;
            }
        }
    }
</script>
</body>
</html>